

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -30%)!important;
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px
    !important;
    min-width: 300px !important;
    z-index: 999;
    color: black;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.center{
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* set container height to full viewport height */
}
#getStarted{
    display: flex;
    flex-direction: column;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh;
}
#getStarted h1{
    font-family: 'Macondo', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size:xx-large;
  color: white;
  font-weight: 1000;
  }

#getStarted div{
    margin-top: 53%;
    margin-bottom: 20%;
    text-shadow : 3.5px 3.5px black;
}
#getStarted div button{
   margin-left: 28%;
   margin-top: 3%;
}
#userNav{
    margin-left: 2%;
}
.dropdown{
    margin-right: 10%;
}
.favouritemovie:hover{
   background-color: rgb(153,145,143);
   
}
@media (max-width: 1000px){
    #getStarted div{
       margin-top: 0%;
       margin-bottom: 60%;
    }
    .searchbox{
        transform: translate(-75%,-8%);
        margin-bottom: 10%;
    }
}