body,html{
    color:aliceblue;
    
   
}

.searchResult img{
    height:100%;
    width: auto;
}
.searchResult{
    display: flex;
    height: 20%;
    margin-top: 3%;
    margin-left: 10%;
    overflow: hidden;
    
}
.desc{
    margin-left: 2%;
    margin-right: 20%;
}
.customh4{
    margin-left: 1%;
    font-size: medium;
    margin-top: 0.8%;
}
.customh5{
    border-bottom: 1px solid #456;
    padding-bottom: 5px;
    margin-left: 10%;
    text-align: center;
}
/* .laterMovies img{
    height: 95%;
    width:10%
}
.laterMovies{
   
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
} */
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.9rem;
    
    /* margin-left:15%; */
    margin-right: 30%;
    
    
  }
  
  .grid-item {
    display: flex;
    
    align-items: center;
    height: 10rem;
    width: 7rem;
    /* background-color: #f5f5f5; */
  }
  
  .grid-item img {
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  .custombutton{
    display: none;
    
  }
 
.grid-item:hover img{
    border:2px solid aliceblue;
    filter: blur(0.7px);
}
.grid-item:hover button{
    display: flex;
    
    text-align: center;
    transform: translate(-170%, 140%);

}
.nomovies{
    font-family: 'Macondo', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size:xx-large;
  color: aliceblue;
  
}
.imageboxdiary img {
  
    /* flex-shrink: 0;
    min-width: 100%;
    min-height: 100% */
    margin-right: 12px;
    height: 10rem;
    width: auto;
    /* object-fit: cover; */
    
}
.diarydata{
    overflow: hidden;
}
.diarydata div{
    margin-right: 10%;
}
.imageboxdiary{
    display: flex;
    margin-right: 10%;
    height: 10rem;
    width: 35rem;
}
.selected{
    border-bottom: solid 1px white;
}
.categories span{
    margin-right: 3%;
    cursor: pointer;
}
.categories span:hover{
    color:aqua;
    transition: all 0.5s ease-out;
}
.categories{
    margin-top: 2%;
    margin-left: 37% ;
    margin-right: 10%;
}

h3{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    font-family: 'Macondo', cursive;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size:x-large;
    color: white;
    font-weight: 400;
}

#favouriteFilmsSpan{
    margin-left: 15%;
    margin-top: 2%;
}
.myfavmovies{
    margin-right: 60%;
    margin-left: 15%;
    height: 120px;
    margin-top:1.5%;
    
}
.myfavmovies div{
    background-color: gray;
    width: 90px;
    border-radius: 10%;
    margin-right: 2%;

    
}
#donebutton{
    margin-left: 15%;
    margin-top: 2%;
    
}
#suggestionsTitle{
    margin-left: 15%;
    margin-top:2% ;
    margin-bottom: 1%;
    
}
#signoutbutton{
    display: none;
    
}
.eachMovieInList {
   
    height: 150px;
    width: 100px;
}
.moviesoflist{
    display:flex;
    
}
.movielist{
    margin-bottom: 5%;
    margin-left: 2%;
    border: solid;
    padding: 1em;
    border-radius: 3%;
    margin-right: 2%;
    
    
    
}

.movielist span{
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: large;
    /* margin-bottom: 2%; */
}
.movielist:hover{
    border-color: aquamarine;
}
#alllists{
    
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  translate: 0% -10%;
    transform: scale(0.7);
}
.listIconTitle{
    display: flex;
    justify-content: space-between;
    
}
/* .deleteIcon:hover{
    transform: scale(1.4);
} */
.editIcon{
    align-content: flex-end;
    margin-left: 8%;
}
.editIcon:hover ,.deleteIcon:hover{
  transform: scale(1.4);
  
}

@media (max-width: 1000px){
    .searchResult{
        margin-bottom: 8%;
        margin-left: 0%;
    }
    .customh5{
        margin-left: 0%;
        margin-top: 5%;
    }
    .poster{
        margin-left: 0%;
        margin-right: 0%;
        box-shadow: none;
        height: 35%;
        border-radius: 1%;
    }
    .infoleft img{
        width:100px;
        height:auto;
        margin-left: 5%;
        
    }
    .info{
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        margin-top: 2%!important;
    }
    .inforight{
        display: flex;
        flex-direction: column;

    }
    .buttonsfordb,.dbbuttonparent{
           margin-left: -5.5%;
           margin-top: 6%;
    }
    .col-6{
        width:100%;
    }
    .col-8{
        width:100%;
    }
    .copywala{
        transform: translate(3%, -42%);
    }
    .logos{
        margin-left: 11%;
        max-width: 90%;
        margin-bottom: 10%;
    }
    .recCard{
        margin-left: 0%;
    }
    .categories{
        margin-left: 2%;
    }
    .categories span{
        font-size: larger;
    }
    #favouriteFilmsSpan{
        margin-left: 1%;
        margin-top: 2%;
    }
    .myfavmovies{
       margin-right: 0%;
        margin-left: 6%;
        max-width: 80%;
    }
    .myfavmovies div img{
        width:80px;
    }
    .myfavmovies div{
        width: 80px;
    }
    #donebutton{
        margin-left: 2%;
        margin-top: 3%;
    }
    #suggestionsTitle{
        margin-left: 2%;
    }
    .grid-item{
        height: 6.5rem;
        width: 5rem;
    }
    #signoutbutton{
        display: block;
        margin-left: 70%;
        margin-top: 5%;
    }
}