
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 320px;
    min-width: 100px;
    z-index: 999;
    color: black;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.center{
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    height: 100vh; /* set container height to full viewport height */
}

#one,#two,#three,#four img{
    object-fit: cover;
}



  .favmovie:hover img {
    border:2px solid aliceblue;
    filter: blur(0.7px);
}
.favmovie:hover  button{
    display: flex;
    
    text-align: center;
    transform: translate(40%, -130%);

}

.favmovie img{
    width: 90px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5%;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.9rem;
    
    margin-left:15%;
    margin-right: 30%;
    
    
  }

  .listMovies button{
    visibility: hidden;

}
.listMovies:hover button{
    visibility: visible;
    text-align: center;
    transform: translate(65%, -140%);

}
.listMovies:hover img{
    border:1.7px solid aliceblue;
    filter: blur(0.7px);
}
.listgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 0.9rem;
    
    margin-left:20%;
    margin-right: 30%;
    
    
  }

  .listMovies{
    margin-bottom: 0%;
  }
  .listMovies img{
    width:115px
  }
  .listAddSpan:hover{
    background: rgb(25, 135, 84);
    cursor: default;
    
  }
  @media (max-width: 1000px){
    .grid-container {
        margin-left: 2%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 0.4rem;
    }
  }
