/* .linkLike{
 
} */
.hide{
    display: none;
  }

.newMovies{
  overflow-y:hidden
}
.eachMovie{
  margin-left: 10px;
  margin-right: 10px;
  height: 15rem ;
  width: 20rem;
  /* border-style: double;
  display: none; */
  
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  /* background-color: white; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  

}
/* #eachSlide{
  margin-top: 20%;
} */
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
}
.swiperslidecustom img{
  width: auto;
  height: 15rem;
  border-radius: 1rem;
  object-fit: cover;
}
 
.swiperslidecustom{
  margin-left: 0%;
}
h1{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
  
}
p{
  color: black;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 5%;
}

.carousel{
  margin-left: 7%;
  margin-right: 13%;
  margin-top: 5%;
}
.fullscreen{
  height: 75%;
  background-image: url("https://sm.ign.com/t/ign_in/screenshot/default/fmneipnzjubn2fy0d4q9gnfyhsp_64g3.1280.jpg");
  background-size: cover;
  margin-left: 7%;
  margin-right: 13%;
  margin-bottom: 12%;
  box-shadow: 0 0 10px 10px  rgb(38, 40, 43) inset
}
.poster {
  height: 60%;
  width: auto;
  /* background-color: red; */
 margin-left: 10%;
 margin-right: 10%;
 background-size: cover;
 background-position: 50% 30%;
 border-radius: 5%;
 box-shadow: 0 0 10px 10px  rgb(38, 40, 43) inset;
 
}

h5{
 
  color: aliceblue;
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}
.info{
  display: flex;
  margin-left: 12%;
  
}
.imgposter{
  height:10%;
  width: auto;
  border-radius: 5%;
}
.inforight{
  display: flex;
  
}
.infoleft{
  margin-right: 2%;
}
p{
  color: aliceblue;
  
}
#genres{
  display: flex;
  margin-bottom: 5%;
  flex-wrap: wrap;
  

}
 h5{
 
  margin-top: 1%;
  margin-right: 1.3%;
}
span{
  color: aliceblue;
  display: block;
}

.logo {

  height:2rem;
  width: auto;
  margin-right: 5%;
  border-radius: 50%;
  flex-wrap: wrap;
}
.logos{
display: flex;
flex-direction: row;
margin-left: 5%;
/* flex-wrap: wrap; */
}
#credits span{
margin-right: 2%;
margin-bottom: 2%;
height:2.2rem;
width: 3 rem;
text-align: center;
}
#credits h5{
  display: flex;
  align-items: start;
}
#classTitle{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4%;
  border-bottom: 1.5px solid #456;
}
.watchlaterbtn button{
 /* margin-left: 50%; */
 margin-right:12%;
 display: flex;

 justify-content: space-evenly;
 height: 2.3rem;
 width: 10rem;
 padding: 0%;
 
}
.recCard{
  margin-left: 28%;
  margin-right: 10%;
}
.watchlaterbtn{
  margin-left: 13% !important;

}
.buttons{
  margin-left: 5%;
  margin-top: 6%;
 
  
}

#welcomeMessage{
  font-family: 'Macondo', cursive;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size:xxx-large;
  margin-left: 8%;
  margin-top: 5%;
}
#recvala{
  margin-top: 1.5%;
}
.iframeClass{
  border-radius: 2%;
  
}
.youtubePlayer{
  z-index:999;
  position: fixed;
  transform: translate(40%, -155%)
}
.overlay {
  background: rgba(49,49,49,1);
}
.close-modal{
  position: absolute;
  /* margin-top: 0.7%;
  margin-right: 9%; */
}

.imagecomponent:hover img{
  transform: scale(1.02);
 
}
.imagecomponent:hover{
  border-radius: 4%;
}



.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  margin-top:5rem;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  /* filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1)); */
}

.slider-controler .slider-arrow h1 {
 
  color: white;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper_container{
  margin-right: "2%";
}